{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section> 
    <section class="flex-ns flex-wrap justify-start mt3"> 
      <div class="flex flex-wrap gap-3">
        {{ range .Paginator.Pages }}
          <div class="text-sm w-[30%]">
            <a href="{{ .RelPermalink }}" class="text-blue-800 hover:underline">{{ .Title }}</a>
          </div>
        {{ end }}
      </div>
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
